@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Rubik&family=Varela+Round&display=swap");

:root {
  --primary-color: #130627;
  --secondary-color: #f5f5f5;
  --tersier-color: #c2fff5;
  --quartet-color: #5da599;
  --primary-font: "Maven Pro", sans-serif;
  --tersier-font: "Varela Round", sans-serif;
  --secondary-font: "Rubik", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

nav.navbar {
  position: sticky;
  top: 0;
  background-color: #ffffff55;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.font-primary {
  font-family: var(--primary-font);
}

.icon-text {
  font-weight: 700;
  color: var(--primary-color);
}

.nav-item a {
  font-family: "Varela Round", sans-serif;
  color: var(--primary-color);
}

.nav-item.cta,
a.cta {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 0.5em 1em;
}

a.cta {
  border-radius: 90px;
}

a.cta .icon-cta {
  margin-left: 1rem;
}

.nav-item.cta a {
  color: var(--secondary-color);
}

.nav-item {
  padding: 0.5em 1em;
}

.dropdown-btn {
  display: inline-block;
  cursor: pointer;
}

.dropdown-btn span {
  width: 35px;
  height: 5px;
  background-color: var(--primary-color);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px;
  display: block;
}

.dropdown-btn .bar2 {
  width: 20px;
  margin-right: 0;
  margin-left: auto;
}

.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.jumbotron {
  padding: 2rem 1rem;
  width: 100%;
  min-height: calc(100vh - 2rem);
}

.jumbotron-content {
  padding: 3rem 0;
}

.text-headline {
  position: relative;
  z-index: -1;
}

.text-headline::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--primary-color);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  z-index: -1;
  top: -50%;
}

span.horizontal-line {
  width: 50%;
  height: 2px;
  background-color: var(--primary-color);
  display: block;
  margin: 20px 0;
}

.img-box {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}

.img-box img {
  width: 100%;
}

.img-box::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--tersier-color);
  transform: rotate(45deg);
}

.img-box::after {
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.img-box:nth-of-type(1)::after {
  content: "1";
}

.img-box:nth-of-type(2)::after {
  content: "2 ";
}

.img-show .text-box {
  padding: 1rem 0;
  margin: 1rem 0;
}

section#popular {
  padding: 2rem 0.5em;
}

.item-preview {
  overflow-x: auto;
}

.item-preview::-webkit-scrollbar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: var(--tersier-color);
}

/* .item-preview::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
} */

.item-preview::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

.item-box {
  padding: 0.5em;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.item-box::after {
  position: absolute;
  top: -25px;
  left: -25px;
  height: 50px;
  width: 50px;
  transform: rotate(45deg);
  content: "";
  background-color: white;
}

.item-box.selected,
.item-box.selected .item-img::after {
  background-color: var(--tersier-color);
}

.item-box .price {
  font-family: var(--secondary-font);
  color: var(--quartet-color);
  font-weight: 900;
}

.item-img {
  display: block;
  height: auto;
  background-color: blue;
  position: relative;
  overflow: hidden;
  z-index: -1;
  margin-bottom: 0.5rem;
}

.item-img::after {
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background-color: white;
  content: "";
}

.item-img img {
  display: block;
  width: 100%;
}

.direction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.direction-btn {
  padding: 0.5em;
  width: 40px;
  height: 40px;
  font-weight: 700;
  display: flex;
  font-family: var(--primary-font);
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  border: solid 2px var(--tersier-color);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.direction-btn:hover {
  background-color: var(--tersier-color);
}

.content-left {
  text-align: left;
  font-weight: 900;
  color: var(--primary-color);
  font-size: max(3vw, 1rem);
}

section#awards {
  padding: 4rem 0;
  background-color: var(--tersier-color);
}

.achievement-list {
  overflow-x: auto;
}

.achivement-item {
  padding: 1em;
  background-color: var(--quartet-color);
  display: block;
  aspect-ratio: 1/1.05;
}
